.projects-countdown-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("../images/project_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
}
.projects-countdown-wrapper::before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.single-project p {
    margin-bottom: 0;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.single-project span {
    font-size: 35px;
    color: #fff;
    font-weight: 600;
}
.single-project {
    text-align: center;
}
.project-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.project-info ul li {
    padding: 5px;
    color: #484848;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.project-info ul li span {
    padding-right: 5px;
    color: #0073e6;
    font-size: 18px;
}